[defaults]
# Skip the "Host key verification" error
host_key_checking = False

# Stop the "discovered Python interpreter" warning
interpreter_python = auto_silent

# Use the hosts.ini file by default
inventory = hosts.ini

